*, *::before, *::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  overflow-x: hidden;
  font: {
    family: 'Roboto', sans-serif;
    size: 17px;
  }
  background-color: $app-background;
}

a {
  text-decoration: none;
  color: #1976D2;
}

a:hover {
  text-decoration: underline;
}